{% style %}
.sidecart-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    z-index: 999;
    display: block;
    visibility: hidden;
}
.sidecart-overlay.active{
    visibility: visible;
    opacity: .7;
}

.sidecart-content{
    background-color: #FFF;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    width: 40%;
    right: 0;
    transition: .2s;
    transform: translateX(100%);
    padding: 25px;
}
.sidecart-content.active{
    transform: translateX(0%);
}

{% endstyle %}

<div class="sidecart-overlay">d</div>
<div class="sidecart-content">
    <button id="closeSideCart">Cerrar carrito</button>
    <div id="sideCartProducts">
    {% render 'cart-items' %}
    </div>
    <div>
        <button id="emptyCart">Limpiar carrito</button>
    </div>
</div>

<script src="{{ 'gradicart.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "Sidecart",
    "tag": "section",
    "class": "sidecart",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ]
}
{% endschema %}